%h1= @movie.title
%br/
%br/
%br/
%br/
%h1 Actors
- @movie.actors.each do |actor|
  = link_to(actor.name, actor_path(actor))
%br/
- if @movie.director
  %h1 Director
  = link_to(@movie.director.name, director_path(@movie.director))
%h1 Writers
- @movie.writers.each do |writer|
  = link_to(writer.name, writer_path(writer))
