---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=4a3f518e&i=tt3896198
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 19 Jul 2021 15:10:25 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Guardians of the Galaxy Vol. 2","Year":"2017","Rated":"PG-13","Released":"05
        May 2017","Runtime":"136 min","Genre":"Action, Adventure, Comedy","Director":"James
        Gunn","Writer":"James Gunn, Dan Abnett, Andy Lanning","Actors":"Chris Pratt,
        Zoe Saldana, Dave Bautista","Plot":"The Guardians struggle to keep together
        as a team while dealing with their personal family issues, notably Star-Lord''s
        encounter with his father the ambitious celestial being Ego.","Language":"English","Country":"United
        States","Awards":"Nominated for 1 Oscar. 15 wins & 58 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.6/10"},{"Source":"Rotten Tomatoes","Value":"85%"},{"Source":"Metacritic","Value":"67/100"}],"Metascore":"67","imdbRating":"7.6","imdbVotes":"593,526","imdbID":"tt3896198","Type":"movie","DVD":"10
        Jul 2017","BoxOffice":"$389,813,101","Production":"Marvel Studios, Walt Disney
        Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Mon, 19 Jul 2021 15:10:25 GMT
recorded_with: VCR 6.0.0
