---
http_interactions:
- request:
    method: get
    uri: "http://www.omdbapi.com/?apikey=<\U0001F595\U0001F4A9\U0001F595>&t=rambo"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 05 Oct 2021 08:20:45 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Rambo","Year":"2008","Rated":"R","Released":"25 Jan 2008","Runtime":"92
        min","Genre":"Action, Adventure, Thriller","Director":"Sylvester Stallone","Writer":"Art
        Monterastelli, Sylvester Stallone, David Morrell","Actors":"Sylvester Stallone,
        Julie Benz, Matthew Marsden","Plot":"In Thailand, John Rambo joins a group
        of mercenaries to venture into war-torn Burma, and rescue a group of Christian
        aid workers who were kidnapped by the ruthless local infantry unit.","Language":"English,
        Burmese, Thai","Country":"Germany, United States, Thailand","Awards":"1 win
        & 1 nomination","Poster":"https://m.media-amazon.com/images/M/MV5BMTI5Mjg1MzM4NF5BMl5BanBnXkFtZTcwNTAyNzUzMw@@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.0/10"},{"Source":"Rotten Tomatoes","Value":"37%"},{"Source":"Metacritic","Value":"46/100"}],"Metascore":"46","imdbRating":"7.0","imdbVotes":"224,126","imdbID":"tt0462499","Type":"movie","DVD":"27
        May 2008","BoxOffice":"$42,754,105","Production":"Lionsgate Films","Website":"N/A","Response":"True"}'
  recorded_at: Tue, 05 Oct 2021 08:20:42 GMT
recorded_with: VCR 6.0.0
