%body
  %header
    #navbarHeader.collapse.bg-dark
      .container
        .row
          .col-sm-8.col-md-7.py-4
            %h4.text-white About
            %p.text-muted Oh hey there! I copied this entire theme from the bootstrap website and i don't feel guilty at all - Enjoy SmartFlix :D Edd
          .col-sm-4.offset-md-1.py-4
            %h4.text-white Contact
            %ul.list-unstyled
              %li
                %a.text-white{:href => "https://www.youtube.com/watch?v=fNFzfwLM72c"} Please don't @ me! :D
    .navbar.navbar-dark.bg-dark.shadow-sm
      .container
        = link_to root_path, class: "navbar-brand d-flex align-items-center" do
          %svg.me-2{"aria-hidden" => "true", :fill => "none", :height => "20", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"}
            %circle{:cx => "12", :cy => "13", :r => "4"}
          %strong SmartFlix
        = link_to top50_index_path, class: "navbar-brand d-flex align-items-center" do
          %strong top 50
        %button.navbar-toggler{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarHeader", "data-bs-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
    
